#head{
   background-color: rgb(212, 9, 43);
   position:fixed;
   top:0;
   right:0;
   width:100%;
   z-index:999;
}
/* .extra-space {
   padding-top:45rem;
} */
.obj-width{
   max-width:1200px;
   margin:auto;
}
#menu li a{
   color:white;
   text-decoration: none;
   font-size:2.2rem;
   margin-left:40px;
   font-weight: 1000;
}
#navbar{
   display:flex;
   justify-content: space-between;
   align-items: center;
   height:210px
}
#navbar .logo{
   width:20px;  
}
.logo img{
   width:450px;
   height:210px;
}
#menu{
   display:flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}
#btn{
   margin-left:40px;
   background-color: white;
   color:rgb(73, 5, 16);
   font-size:1.1rem;
   font-weight: 500;
   padding:7px 25px;
   border-radius: 18px;
}
#bar{
   color:white;
   display:none;
}
.hero{
   background-color:rgb(212, 9, 43) ;
}
.hero-box {
   display:flex;
   justify-content: space-between;
   align-items: center;
   height:125vh;
}
.h-right {
   width:45%;
}
.h-right img{
   width: 450px;
   object-fit:cover;
}
.h-left {
   width:45%;
   color:white;
}
.h-left p{
   padding:1.2rem 0;
   font-size:1.3rem;
}
.h-left h1{
   font-size:3.2rem;
}
.search{
   position: relative;
}
.search input {
   width:100%;
   height:4rem;
   border-radius:35px;
   padding: 0 20px ;
   font-size:1rem;
   outline:none;
   border:none;
}
.search a{
   position:absolute;
   top:15px;
   right:50px;
}
#s-btn{
   text-decoration:none;
   background-color:rgb(156, 10, 35);
   color:white;
   padding:9px 30px;
   border-radius: 20px;
}
.fe-post img{
   width: 100px;
   margin-top:3rem;
   object-fit:cover;
}
.sec-space{
   padding:4rem 0;
}
.features .fe-box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.features .fe-box div{
   width:200px;
}
.jobs .job-id{
   margin-top:3rem;
   display:flex;
   list-style:none;
   justify-content:space-between;
   align-items: center;
   box-shadow:2px 2px 15px rgb(0,0,0,0.1);
}
.jobs .job-id li{
   padding:10px 40px;
   cursor:pointer;
   color:black;
}
.jobs .job-id li.active{
   background-color: rgb(156, 6, 31);
   color:white;
}
.jobs .jList {
   margin-top: 3rem;
   display:grid;
   grid-template-columns: repeat(4,1fr); 
   border:1px solid rgb(233, 23, 58);
   align-items:center;
   justify-items: start;
   cursor:pointer;
   color:black;
   padding:1rem 2rem;
}
.jobs .jList img {
   width:50px;
}
.jobs .jList h3{
   padding-bottom:0;
}
.jobs .jList:hover{
   background-color:pink;
}
.jobs .jList.delete{
   display:none;
}
.trust .t-box {
   display:flex;
   align-items: center;
   flex-wrap:wrap;
   padding-top: 2rem;
}
.trust .t-box img {
   width:200px;
   object-fit: cover;
   margin:1rem 1rem 1rem 0;
}
.trust h1{
   font-size:3.1rem;
}
.team h1{
   font-size: 3.1rem;
}
.team-container{
   display:flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap:wrap;
}
.team-container .f1-box {
   border: 2px solid rgb(216, 18, 51);
   height:450px;
   padding: 2rem 1rem;
   border-radius:20px;
   margin-top :3rem;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.f1-box img {
   border-radius: 50%;
   margin-bottom: 1rem;
}
.skill {
   padding-bottom: 2rem;
}
#key {
   font-size:0.8 rem;
   background-color: rgb(193, 133, 233);
   padding: 10px 20px;
   border-radius: 20px;
}
footer{
   background-color:rgb(212, 9, 43) ;
   color:white;
   padding: 4rerm 0;
}
.top {
   display:flex;
   align-items: center;
   text-align: start;
   justify-content: space-between;
   flex-wrap:wrap;
}
.top .logo{
   width:300px;
   height:200px;
   margin-bottom:1rem
}
.top i{
   color:white;
   font-size:2rem;
   margin-left:0.5rem;
}
.bottom{
   padding-top:2rem;
   text-align:start;
   display:flex;
   justify-content: space-between;
   flex-wrap:wrap;
}
.bottom div{
   display:flex;
   flex-direction:column;
}
.bottom a{
   text-decoration: none;
   color:white;
   line-height:35px;
   font-size:1.1rem;
}
logout div{
   color:blueviolet;
   font-weight:550;
}
logout span{
   font-weight:500;
   color:black;
}


.jobs form {
   margin-top :3rem;
   width:100%;
   border:1px solid rgb(233, 23, 58);
   border-radius: 5px;
   display:flex;
   justify-content:space-between;
   align-items: center;
}
.jobs form i{
   padding-left: 1rem;
   font-size: 1.1rem;
   font-weight:bold;
}
.jobs form input {
   width:100%;
   border:none;
   outline:none;
   padding:1rem 0.5rem;
   font-size:1.1rem;
}
@media(max-width:1200px){
   .obj-width{
      width:95%;
   }
}
@media(max-width:699px) {
   #menu {
      background-color:pink;
      display:block;
      width:280px;
      height:auto;
      position:absolute;
      top:80px;
      right:0%;
      padding:30px 0;
      box-shadow: 0px 2px  10px rgb(0,0,0,0.5);
      border-radius: 15px;
      opacity:0;
      transition: all 0.3s ease;
   }
   #menu.active{
      right:10px;
      opacity:1;

   }
   #bar{
      display:block;
      font-size: 2.1rem;
      cursor:pointer;
   }
   #menu li{
      padding:0.8rem;
   }
   #menu li a{
      color:rgb(128, 3, 24);
   }
   .hero-box {
      flex-direction: column;
      height:auto;
      justify-content: center;
      align-items: start;
      padding:10rem 0;
   }
   .h-left{
      width:100%;
   }
   .h-right{
      display:none;
   }
   .features .fe-box div{
      width:40%;
   }
   .jobs .job-id {
      position:relative;
      width:100%;
      overflow-x:scroll;
      -ms-overflow-style:none;
      scrollbar-width:none;
   }
   .jobs .job-id li {
      padding:20px 30px;
      text-wrap:nowrap;
   }
   .jobs-container{
      display:flex;
      justify-content:space-between;
      flex-wrap: wrap;
      margin-top:2rem;

   }
   .jobs .jList {
      width:50%;
      margin-top: 1rem;
      grid-template-columns: repeat(1,1fr);
      grid-gap:15px;
      padding:2rem 1rem;
      font-size:20px;
      text-wrap:nowrap;
      justify-items: center;
   }
   .team-container .f1-box{
     border-radius: 10px;
     margin-top :1rem;
     text-align: center;
   }
   .skill {
      padding-bottom: 1rem;
   }
   .bottom div {
      width:50%;
      margin-bottom:50px; 
   }
   .top i{
      margin-left:1rem 1rem 0 0;
   }
}